Assets/QA_Books/Textures/Books_m_ao_g.tga filter=lfs diff=lfs merge=lfs -text
Assets/QA_Books/Textures/BooksA_m_ao_g.tga filter=lfs diff=lfs merge=lfs -text
Assets/LowPolyOfficeProps_LITE/LowPolyOfficeProps_LiteScene/LightingData.asset filter=lfs diff=lfs merge=lfs -text
